<%= form_for(@view, remote: true) do |f| %>
  <% if @view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@view.errors.count, "error") %> prohibited this view from being saved:</h2>

      <ul>
      <% @view.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, :value => "Eiffel tower, Paris" %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.text_field :floor, :value => "100" %>
  </div>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_field :direction, :value => "0" %>
  </div>
  <div class="actions">
    <%= submit_tag 'Show!' , :onclick => "updateView()"%>
  </div>
<% end %>
